// В этом файле должны быть стили для БЭМ-блока main-box-info, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-box-info {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__title {
    @include col();
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__col {
    @include col();
    @include col(xl, 4);

    span {
      display: block;
      font-size: 18px;
      line-height: 1.2;
      color: $color-main;
      margin-bottom: 12px;
      font-weight: 300;

      b {
        font-weight: 500;
      }
    }
  }

  @media (max-width: $screen-sm) {
    &__title {
      font-size: 16px;
    }

    &__col {

      span {
        font-size: 14px;
      }
    }
  }
}
