// В этом файле должны быть стили для БЭМ-блока feedback, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.feedback {

  $block-name:                &; // #{$block-name}__element

  &__title {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  &__caption {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 25px;

    span {
      font-size: 20px;
    }
  }

  &__body {
    max-width: 845px;
  }
}
