// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-lg !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 10;
  border-top: 1px solid #bfd6da;
  margin-top: 25px;
  // background-color: #bfd6da;
  // background-color: #333333;

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS
      // position: absolute;
      background: $color-main;
      width: 100%;

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: nowrap;
      font-size: 14px;

      &--lvl-2 {
        display: block;
      }

      &--lvl-3 {
        display: block;
      }
    }
  }

  &__item {
    position: relative;

    &--active {

      & > #{$block-name}__link {
        color: #ffde00;
      }
    }

    // @media (max-width: ($menu-desktop-width - 1)) {
    //   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    // }

    &--has-child {

      @media (min-width: $menu-desktop-width) {
        &:hover,
        &:focus {
          background: #7ea2d1;
          transition: background $transition-time;
        }
      }

      &:after {
        content: "";
        position: absolute;
        right: 15px;
        top: 20px;
        display: block;
        width: 12px;
        height: 12px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: rotate(-45deg);

        @media (max-width: ($menu-desktop-width - 1)) {
          top: 5px;

          &:hover,
          &:focus {
            background: #7ea2d1;
            transition: background $transition-time;
          }
        }
      }


      & > #{$block-name}__link  {
        padding-right: 35px;
      }
    }
  }

  &__link {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #fff;
    font-weight: 400;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #ffde00;
    }

    @media (max-width: ($menu-desktop-width - 1)) {
      color: #fff;
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
    }

    &--lvl-2 {

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 2em;
        text-transform: inherit;
      }
    }

    &--lvl-3 {

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 2.4em;
      }
    }
  }

  &__sublist-wrapper {

    &--lvl-2 {

      // #{$block-name}__link  {
      //   @media (max-width: ($menu-desktop-width - 1)) {
      //     padding-top: 5px;
      //     padding-bottom: 5px;
      //     background: #7ea2d1;
      //   }
      // }

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        padding: 10px 0;
        background: #7ea2d1;
        min-width: 240px;
        top: 100%;
        left: 0;
        z-index: 1;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity $transition-time;

        // stylelint-disable  max-nesting-depth
        #{$block-name}__item--show-child > &,
        #{$block-name}__item:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
        // stylelint-enable
      }
    }

    &--lvl-3 {

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity $transition-time;

        // stylelint-disable  max-nesting-depth
        #{$block-name}__item--show-child > &,
        #{$block-name}__item--lvl-2:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
        // stylelint-enable
      }
    }
  }



  // переключатель

  &__toggler {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;

    .no-js & {
      display: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }
}
