-
  var mainMenu = [
    {
      "id": "0",
      "name": "Тандемные полеты",
      "url": "/"
    },
    {
      "id": "10",
      "name": "Свободные полеты",
      "url": "/"
    },
    {
      "id": "20",
      "name": "Обучение",
      "url": "/"
    },
    {
      "id": "30",
      "name": "Продажа снаряжения",
      "url": "/"
    },
    {
      "id": "40",
      "name": "Варианты оплаты",
      "url": "/"
    },
    {
      "id": "50",
      "name": "Летные места в Курске",
      "url": "/",
      "childs": [
        {
          "id": "50-0",
          "name": "Карты как проехать",
          "url": "#"
        },
        {
          "id": "50-10",
          "name": "Дороги для малинки",
          "url": "#"
        },
        {
          "id": "50-20",
          "name": "Дороги для пассивки",
          "url": "#"
        },
      ]
    },
    {
      "id": "60",
      "name": "Дальние поездки",
      "url": "/"
    },
    {
      "id": "70",
      "name": "О нашем клубе",
      "url": "/"
    },
    {
      "id": "80",
      "name": "Контакты",
      "url": "/"
    },
  ];
