-
  var mainMenu = [
    {
      "id": "0",
      "name": "Тандемные полеты",
      "url": "/"
    },
    {
      "id": "1",
      "name": "Свободные полеты",
      "url": "/"
    },
    {
      "id": "2",
      "name": "Обучение",
      "url": "/"
    },
    {
      "id": "3",
      "name": "Продажа снаряжения",
      "url": "/"
    },
    {
      "id": "4",
      "name": "Варианты оплаты",
      "url": "/"
    },
    {
      "id": "5",
      "name": "Летные места в Курске",
      "url": "/"
    },
    {
      // "id": "6",
      "name": "Дальние поездки",
      "url": "/"
    },
    {
      "id": "7",
      "name": "О нашем клубе",
      "url": "/"
    },
    {
      "id": "8",
      "name": "Контакты",
      "url": "/"
    },
  ];
