
// Сделаем viewport великим снова! (привет, IE10)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport {
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__top {
    background-color: rgba(26, 56, 106, 0.4);
    background-position: center 70%;
    background-size: cover;
    margin-bottom: 60px;
  }

  &__breadcrumbs {
    background: #fff;
    overflow: hidden;
  }

  &__breadcrumbs-inner {
    @include container;
  }

  &__content {
    flex-grow: 1;
  }

  &__content-inner {
    @include container;
    padding-bottom: 6rem;
  }

  &__product {
    background: #fff;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  &__product-inner {
    @include container;
  }

  &__map {
    margin-bottom: 60px;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Типографика проекта — в блоке typo
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  background-color: #f6f6f6;
  margin: 0;
  min-height: 100%;
}

[tabindex='-1']:focus {
  outline: none !important;
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
input[type='search'] {
  -webkit-appearance: textfield;
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // Коррекция проблем стилизации для Safari
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  background-color: transparent;
  text-decoration-skip: ink;
  -webkit-text-decoration-skip: objects;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
}

main {
  margin-bottom: 60px;
}

.status-label {
  min-width: 108px;
  text-align: center;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 20px;
  border: 1px solid #44567b;
  background-color: #ffffff;
  border-radius: 6px;

  &--active {
    background-color: #fe0102;
    border-color: #fe0102;
    color: #fff;
  }
}

.content-media {
  @include row;

  &__slider {
    @include col();
    @include col(lg, 5);
  }
  &__text {
    @include col();
    @include col(lg, 7);
  }
}

.media-slider {
  margin-bottom: 25px;
}

.image-carousel {
  .item {
    margin: 5px;
  }
}

.image-carousel-thumbs {
  .item {
    margin: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
  }
  .current .item{
    background: #0c83e7;
  }
}

//arrows on first carousel
.image-carousel {
  position: relative;

  .owl-nav {

    [class*='owl-'] {
      transition: all .3s ease;
      &.disabled:hover {
       background-color: #D6D6D6;
      }
    }
  }

  .owl-next, .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
  }
  .owl-prev {
    left: 10px;
  }
  .owl-next {
    right: 10px;
  }

  .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
  }
  .owl-dot {
    margin: 5px;
    span {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: block;
      background: #fff;
      opacity: 0.5;
    }

    &.active {
      span {
        opacity: 1;
      }
    }
  }
}
