// В этом файле должны быть стили для БЭМ-блока news-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.news-card {

  $block-name:                &; // #{$block-name}__element

  &__body {
    padding: 10px 30px;
  }

  &__title {
    color: #fe0102;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__date {
    color: #fe0102;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
  }

  &__body {
    color: $color-main;
  }

  &__caption {
    font-weight: 300;
    font-size: 14px;
  }

  @media (max-width: $screen-sm ) {
    &__body {
      padding: 10px 20px;
    }
  }
}
