//- Все примеси в этом файле должны начинаться c имени блока (tour-card)

mixin tour-card(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +tour-card('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' tour-card--' + modsList[i].trim();
      }
    }

  .tour-card(class=allMods)&attributes(attributes)
    .tour-card__inner!= text