// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  padding-top: 32px;
  padding-bottom: 32px;

  &__inner {
    @include container;
  }

  .burger {
    position: absolute;
    right: 15px;
  }

  @media (max-width: ($menu-desktop-width - 1)) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
