// В этом файле должны быть стили для БЭМ-блока .header-info, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header-info {

  $block-name:                &; // #{$block-name}__element

  float: right;
  margin: 0.7rem 0;

  &__phones {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
  }

  @media (max-width: ($menu-desktop-width - 1)) {
    float: none;
  }
}
