// В этом файле должны быть стили для БЭМ-блока main-box, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-box {

  $block-name:                &; // #{$block-name}__element

  margin: 38px 0;

  &__inner {
    @include container;
  }

  &__header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 35px;
  }

  &__title {
    flex-grow: 1;
    line-height: 1;
    margin: 0;
    color: $color-main;
  }

  &__more {
    flex-shrink: 0;
  }

  &__content {
    &--news {
      background: #fff;
    }
  }
}
