//- Все примеси в этом файле должны начинаться c имени блока (image-gallery)

mixin image-gallery(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +image-gallery('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' image-gallery--' + modsList[i].trim();
      }
    }

  .image-gallery(class=allMods)&attributes(attributes)
    .image-gallery__inner!= text