//- Все примеси в этом файле должны начинаться c имени блока (list-inline)

mixin list-inline(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +list-inline('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' list-inline--' + modsList[i].trim();
      }
    }

  .list-inline(class=allMods)&attributes(attributes)
    .list-inline__inner!= text