// В этом файле должны быть стили для БЭМ-блока list-inline, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.list-inline {

  $block-name:                &; // #{$block-name}__element

  list-style: none;
  padding-left: 0;
  margin-bottom: 2rem;

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
