//- Все примеси в этом файле должны начинаться c имени блока (main-box-news)

mixin main-box-news(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +main-box-news('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' main-box-news--' + modsList[i].trim();
      }
    }

  .main-box-news(class=allMods)&attributes(attributes)
    .main-box-news__inner!= text