// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  padding: 65px 0;
  background-position: center center;
  background-size: cover;

  &__inner {
    @include container;
    display: flex;
  }

  &__logo {
    flex-shrink: 0;
    margin-right: 55px;
  }

  &__info {
    flex-grow: 1;
  }

  &__part {
    @include row;
  }

  &__nav {
    @include col();
    @include col(xl, 3);
    @include col(md, 4);
    @include col(sm, 6);
    margin-bottom: 25px;

    // &:not(:last-child) {
    //   margin-right: 5px
    // }
    // &:first-child {
    //   margin-right: 60px;
    // }
  }

  &__nav-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {

      a {
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;

        &:hover,
        &:focus {
          color: #ffde00;
        }
      }
    }
  }

  @media (max-width: ($screen-lg - 1)) {

    &__inner {
      flex-wrap: wrap;
    }

    &__logo {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__info {
      flex-grow: 1;
      flex-basis: 100%;
    }
  }
  //
  // @media (max-width: ($screen-xxl - 1)) {
  //
  //   &__nav {
  //     flex: 0 0 50%;
  //     max-width: 50%;
  //   }
  // }
}
