//- Все примеси в этом файле должны начинаться c имени блока (page-footer)

mixin page-footer(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-footer()
          p «Подвал»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .page-footer__inner
      .page-footer__logo
        +logo('index.html')
          img(src="img/logo.svg")
      .page-footer__info
        .page-footer__part
          .page-footer__nav
            .page-footer__nav-title Тандемные полеты
            ul.page-footer__nav-list
              li
                a(href="#") Что это?
              li
                a(href="#") Цены
              li
                a(href="#") Правила
              li
                a(href="#") Как проехать
              li
                a(href="#") Подарочный сертификат
          .page-footer__nav
            .page-footer__nav-title Свободные полеты
            ul.page-footer__nav-list
              li
                a(href="#") Что это?
              li
                a(href="#") Цены
              li
                a(href="#") Правила
              li
                a(href="#") Аренда снаряжения
              li
                a(href="#") Соревнования в Курске
          .page-footer__nav
            .page-footer__nav-title Обечение
            ul.page-footer__nav-list
              li
                a(href="#") Чему вы научитесь
              li
                a(href="#") Цены
              li
                a(href="#") Правила
          .page-footer__nav
            .page-footer__nav-title Продажа снаряжения
            ul.page-footer__nav-list
              li
                a(href="#") Парапланы
              li
                a(href="#") Подвески
              li
                a(href="#") Запаски
              li
                a(href="#") Приборы
              li
                a(href="#") Шлемы
              li
                a(href="#") Аксессуары
              li
                a(href="#") Подбор снаряжения по заказу
          .page-footer__nav
            .page-footer__nav-title Летные места в Курске
            ul.page-footer__nav-list
              li
                a(href="#") Карты как проехать
              li
                a(href="#") Дороги для малинки
              li
                a(href="#") Дороги для пассивки
              li
                a(href="#") Склоны
              li
                a(href="#") Города
          .page-footer__nav
            .page-footer__nav-title Дальние поездки
            ul.page-footer__nav-list
              li
                a(href="#") Парпланерные
              li
                a(href="#") Горнолыжные
              li
                a(href="#") Водные
              li
                a(href="#") Экскурсионные
          .page-footer__nav
            .page-footer__nav-title Контакты
            ul.page-footer__nav-list
              li
                a(href="#") Как проехать в клуб
              li
                a(href="#") Контактные лица
              li
                a(href="#") Обратная связь
          .page-footer__nav
            .page-footer__nav-title О нашем клубе
            ul.page-footer__nav-list
              li
                a(href="#") Пилоты
              li
                a(href="#") Результаты
              li
                a(href="#") Перапланы
              li
                a(href="#") Автомобили
              li
                a(href="#") Бексировочные системы
  .copyright
    .copyright__inner
      span Разработка — <a href="http://www.2showbiz.ru/">Showbiz Studio</a>
