// В этом файле должны быть стили для БЭМ-блока page-title, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-title {

  $block-name:                &; // #{$block-name}__element

  margin-top: 0;
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: 500;
  font-style: italic;

  &.status {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
