//- Все примеси в этом файле должны начинаться c имени блока (main-box-tour)

mixin main-box-tour(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +main-box-tour('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' main-box-tour--' + modsList[i].trim();
      }
    }

  .main-box-tour(class=allMods)&attributes(attributes)
    .main-box-tour__inner!= text