extends pug/layout-page.pug

block meta
  title Текстовая страница
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header()
    +logo('index.html')
      span Торнадо
    span.logo-detail
      strong
        | Экстрим-клуб
    +main-nav('10')

block bread
  +breadcrumbs()
    +breadcrumbs-item('Главная', '/index.html')
    +breadcrumbs-item('Текстовая страница')
      
block content  
  h1.page-title Заголовок текстовой страницы
  
  main(role="main")
    
    h1  Тестовый заголовок h1
    p
      | Разнообразный и богатый опыт <a href="#">сложившаяся структура</a> организации требуют определения и уточнения новых предложений. Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения форм развития.
    h2  Тестовый заголовок h2
    p
      | Разнообразный и богатый опыт сложившаяся структура организации требуют определения и уточнения новых предложений. Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения форм развития.
    h3  Тестовый заголовок h3
    p
      | Разнообразный и богатый опыт сложившаяся структура организации требуют определения и уточнения новых предложений. Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения форм развития.
    h4  Тестовый заголовок h4
    p
      | Разнообразный и богатый опыт сложившаяся структура организации требуют определения и уточнения новых предложений. Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения форм развития.
    h5  Тестовый заголовок h5
    p
      | Разнообразный и богатый опыт сложившаяся структура организации требуют определения и уточнения новых предложений. Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения форм развития.

    +or('Текст разделителя', 'some-mod')
    
    h2 Программа поездки:
    ul
      li 30 декабря (суббота) днем - выезжаем из Курска (при необходимости вечером проезжаем Москву), едем по России
      li 31 декабря днем - приезжаем в Ригу. Встречаем Новый Год
      li 1 января - прогулки и экскурсии по Риге, вечером грузимся на паром и ночью переправляемся в Швецию
      li 2 января - едем по Швеции (700 км)
      li 3 - 9 января - 7 дней катание в Швеции
      li 10 января переезжаем в Стокгольм
      li 11-12 января - прогулки и экскурсии по Стокгольму, вечером грузимся на паром и ночью переправляемся в Латвию
      li 13 января - едем по Латвии и России
      li 14 января (воскресенье) - днем приезжаем в Курск (при необходимости утром проезжаем Москву).
      
    +or('Текст разделителя', 'some-mod')
    
    h3 Программа поездки:
    ol
      li выезжаем из Курска (при необходимости вечером проезжаем Москву), едем по России
      li приезжаем в Ригу. Встречаем Новый Год
      li прогулки и экскурсии по Риге, вечером грузимся на паром и ночью переправляемся в Швецию
      li едем по Швеции (700 км)
        ol
          li дней катание в Швеции
          li января переезжаем в Стокгольм
          li прогулки и экскурсии по Стокгольму, вечером грузимся на паром и ночью переправляемся в Латвию
      li едем по Латвии и России
      li днем приезжаем в Курск (при необходимости утром проезжаем Москву).
    hr
      
    dl
      dt Определяемая сущность 1
      dd
        | Некое, возможно, относительно длинное определение упомянутой сущности. Скорее всего, многострочное.
      dt Определяемая сущность 2
      dd
        | Некое, возможно, относительно длинное определение. Скорее всего, длинное, весьма многострочное и многословное.
      dd Некое, возможно, относительно длинное определение упомянутой сущности.
      
    p
      a(href="#") Тестовая ссылка
      
    +thumb('img/joker.jpg', 'Джокер', 300)

block product
  .page__product
    .page__product-inner
      +table-responsive()
        thead
          tr
            th Модель
            th Размер
            th Вилка
            th Цена
        tbody
          tr
            td(colspan="4", class="part") Парапланы
          tr
            td(data-label='Модель') Deck
            td(data-label='Размер') S
            td(data-label='Вилка') 60-85
            td(data-label='Цена') 1 400
          tr
            td(data-label='Модель') Deck 2
            td(data-label='Размер') M
            td(data-label='Вилка') 60-85
            td(data-label='Цена') 1 500
          tr
            td(data-label='Модель') Deck 3
            td(data-label='Размер') M
            td(data-label='Вилка') 60-85
            td(data-label='Цена') 1 500
          tr
            td(data-label='Модель') Deck 4
            td(data-label='Размер') M
            td(data-label='Вилка') 60-85
            td(data-label='Цена') 1 500
          tr
            td(data-label='Модель') Deck 5
            td(data-label='Размер') M
            td(data-label='Вилка') 60-85
            td(data-label='Цена') 1 500
          tr
            td(data-label='Модель') Deck 6
            td(data-label='Размер') M
            td(data-label='Вилка') 60-85
            td(data-label='Цена') 1 500
          tr
            td(colspan="4", class="part") Парапланы
          tr
            td(data-label='Модель') Deck
            td(data-label='Размер') S
            td(data-label='Вилка') 60-85
            td(data-label='Цена') 1 400
          tr
            td(data-label='Модель') Deck 2
            td(data-label='Размер') M
            td(data-label='Вилка') 60-85
            td(data-label='Цена') 1 500
          tr
            td(data-label='Модель') Deck 3
            td(data-label='Размер') M
            td(data-label='Вилка') 60-85
            td(data-label='Цена') 1 500
          tr
            td(data-label='Модель') Deck 4
            td(data-label='Размер') M
            td(data-label='Вилка') 60-85
            td(data-label='Цена') 1 500
          tr
            td(data-label='Модель') Deck 5
            td(data-label='Размер') M
            td(data-label='Вилка') 60-85
            td(data-label='Цена') 1 500
          tr
            td(data-label='Модель') Deck 6
            td(data-label='Размер') M
            td(data-label='Вилка') 60-85
            td(data-label='Цена') 1 500
        caption
          | Продукция 777 (TripleSeven) 
          a(href="#") описания моделей на сайте производителя
        
block footer
  +page-footer()

//- block page-bottom
//-   script(src="js/some.js")
