extends pug/layout-page.pug

block meta
  title Контакты
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header()
    +logo('index.html')
      span Торнадо
    span.logo-detail
      strong
        | Экстрим-клуб
    +main-nav('10')

block bread
  +breadcrumbs()
    +breadcrumbs-item('Главная', '/index.html')
    +breadcrumbs-item('Контакты')
      
block content  
  h1.page-title Контакты
  
  main(role="main")
    
    .list-inline
      .list-inline__item <strong>Адрес:</strong> Курск, ул. Ухтомского, 45
      .list-inline__item <strong>Телефон:</strong> +7 (910) 316-73-16
    
    p <strong>Проезд</strong> общественным транспортом до остановок "Союзная", "Республиканская", "Чайковского", "2-я Новоселовка", далее по схеме. На автотранспорте проезд по улицам Чайковского-Ухтомского.

    p Для удобства выезжающих с нами на полеты, будет организован наш транспорт от <a href="#">Центрального рынка - Цирка</a> (ул. Дзержинского - ул. Александра Невского) или от Авиацентра (в конце Магистрального проезда). Время отправления нашего транспорта от указанных остановок будет публиковаться в форуме о выездах на полеты.

    p ВНИМАНИЕ! Постоянно никто из Клуба "Торнадо" не находится в клубе! Оттуда происходят только выезды. Любой визит нужно обязательно согласовывать <a href="#">звонком по телефону</a>.

    
  .image-gallery.owl-carousel
    .image-gallery__item
      a(href="img/gi-01.jpg")
        img(src="img/gi-01.jpg")
    .image-gallery__item
      a(href="img/gi-02.jpg")
        img(src="img/gi-02.jpg")
    .image-gallery__item
      a(href="img/gi-03.jpg")
        img(src="img/gi-04.jpg")
    .image-gallery__item
      a(href="img/gi-04.jpg")
        img(src="img/gi-04.jpg")
    .image-gallery__item
      a(href="img/gi-05.jpg")
        img(src="img/gi-05.jpg")
          
  .page__map        
    #map
    script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A63e6f657de2ed25c22ece64a059c49e37f6cfc1201760d55c8c89e4d8196a869&width=100%25&height=560&lang=ru_RU&scroll=false')
        
block footer
  +page-footer()

//- block page-bottom
//-   script(src="js/some.js")
