extends pug/layout-page.pug

block meta
  title Наши лица
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header()
    +logo('index.html')
      span Торнадо
    span.logo-detail
      strong
        | Экстрим-клуб
    +main-nav('10')

block bread
  +breadcrumbs()
    +breadcrumbs-item('Главная', '/index.html')
    +breadcrumbs-item('Дальние поездки')
      
block content  
  h1.page-title Дальние поездки
  
  .card
    .card__image
      img(src="img/news-card-image.jpg")
    .card__body
      .card__header
        .card__title Тандемный полет
        .status-label.status-label--active Активен
      .card__date 25.03.2018
      .card__caption
        p
          | <b>В течении летного сезона</b> (с апреля по май) по субботам, воскресеньям и официальным выходным дням 
          | (в дни, не занятые выездными полетами, соревнованиями и другими мероприятиями), клуб проводит 
          | буксировочные полеты.
  .card
    .card__image
      img(src="img/news-card-image.jpg")
    .card__body
      .card__header
        .card__title Тандемный полет
        .status-label Завершен
      .card__date 25.03.2018
      .card__caption
        p
          | <b>В течении летного сезона</b> (с апреля по май) по субботам, воскресеньям и официальным выходным дням 
          | (в дни, не занятые выездными полетами, соревнованиями и другими мероприятиями), клуб проводит 
          | буксировочные полеты.
  .card
    .card__image
      img(src="img/news-card-image.jpg")
    .card__body
      .card__header
        .card__title Тандемный полет
      .card__date 25.03.2018
      .card__caption
        p
          | <b>В течении летного сезона</b> (с апреля по май) по субботам, воскресеньям и официальным выходным дням 
          | (в дни, не занятые выездными полетами, соревнованиями и другими мероприятиями), клуб проводит 
          | буксировочные полеты.
          
  +pagination()
    +pagination-item('1', '/1', true)
    +pagination-item('2', '/2')
    +pagination-item('3', '/3')
    +pagination-item('4', '/4')
    +pagination-item('5', '/5')
            
block footer
  +page-footer('ivents')

//- block page-bottom
//-   script(src="js/some.js")
